#content-body {
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}

$gradientBg: #fdfdfd;
$gradientBgBot: #f3f3f3;

.gradient-bg {
    background-color: $gradientBg;
    background-image: -webkit-gradient(linear, left top, left bottom, from($gradientBg), to($gradientBgBot));
    background-image: -webkit-linear-gradient(top, $gradientBg, $gradientBgBot);
    background-image: -moz-linear-gradient(top, $gradientBg, $gradientBgBot);
    background-image: -ms-linear-gradient(top, $gradientBg, $gradientBgBot);
    background-image: -o-linear-gradient(top, $gradientBg, $gradientBgBot);
}

.no-padding{
    padding: 0;
}
.padding-bottom-40{
	padding-bottom:40;
}
.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}
.text-center{ 
	img {
	    display: block;
	    margin: auto;
	}
}

section {
    padding: 80px 10px;
}


.title {
    font-size: 31px;
    margin: 0;
    margin-bottom: 30px;
}
#header {
	

}
.our-method {
	text-align: left;

	a {
	    width: 100%;
	    margin: 0;
	    padding: 10px;
	    text-decoration: none;
	    font-size: 18px;
	    font-weight: 300;
	    text-align: left;

	    i {
		    border: 1px solid #734865;
		    padding: 10px;
		    margin-right: 12px;
		    border-radius: 3px;
		    font-size: 26px;
		    color: #734865;
		    min-width: 55px;
		    text-align: center;
		}
	}

}

ul.center-card-block {
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 auto;

    li {
        display: inline-block;
	    vertical-align: top;
	    width: 33%;
	    padding: 15px 7px;

	    h3 {
		    margin: 7px 0 12px 0;
		}
	}
}

ul.category-block {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: auto;
    display: block;
    font-size: 0;

    li {
        display: inline-block;
	    vertical-align: top;
	    width: 20%;
	    a{
	        border: 1px solid #ac167a;
		    display: block;
		    margin: 8px;
		    padding: 3px;
		    vertical-align: middle;
		    text-align: center;
		    border-radius: 5px;
		    background-color: rgba(93, 40, 75, 0.12);
	    }
	}
}
