$navBg: rgba(34, 34, 34, 0.30);

$naturalColor: rgb(67, 67, 40);
$naturalLinkColor: #AC167A;

$darkColor: #fff;
$darkLinkColor: #f55ec2;
$darkLinkColorBefore: rgb(121, 14, 86);

$darkLinkLightColor: #77576d; 

* {

    :active{
        outline-color: $naturalLinkColor;
    }
    :focus {
        outline-color: $naturalLinkColor;
    }
    color: $naturalColor;

    a {
        color: $naturalLinkColor;
    }
}

.dark {
	
    * {
        color: $darkColor;
    }

    a {
        color: $darkLinkColor;
    }

    .title{
    	color: $darkColor;

        span {
            color: $darkLinkColor;
        }
    }
}

#header {
    background: $navBg;

    .navbar {
        background: $navBg;
    }
    .navbar.affix {
        background: $naturalLinkColor; 
    }

    li {
        a {
	    color: $darkColor;
        }
        a:hover {
            color: $darkColor;
        }
        a:before {
            background: $darkLinkColorBefore;
        }
	}
}

.title {

	color: $naturalColor;

    span {
	    color: $naturalLinkColor;
	}
}


.jarallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 34, 0.6);
    z-index: -96;
}

.main-search{

    input{
        color: $darkLinkLightColor;
    }

    .search-submit {
        background-color: $naturalLinkColor;
    }
}
.our-method {
    
    a{
        color: $naturalLinkColor;
        i{
            color: #734865;
            border-color: #734865;
        }
        
    }
    a:hover {
            background: $darkLinkLightColor;
            i{
                color: $darkColor;
            }
        }
}

.step-circle {
    background-color: $darkColor;

    span {
        color: $naturalLinkColor;
        border-color: $naturalLinkColor;
        background-color: $darkColor;
    }
    h4 {
        border-color: $naturalLinkColor;
        color: $naturalLinkColor;
    }
}
.step-circle:hover {
    box-shadow: inset 0 0 0 4px $naturalLinkColor, 0 0 1px transparent;
}

#how-it-works {
    background-color: #ececec;
}

.footer-upper-bar ul.footer-menu li a:before {
    background: $naturalLinkColor;
}