$easeTime: 0.2s;

* {
    font: 0;
}

*:hover {
    -webkit-transition: all $easeTime ease-in-out;
    -moz-transition: all $easeTime ease-in-out;
    -ms-transition: all $easeTime ease-in-out;
    -o-transition: all $easeTime ease-in-out;
    transition: all $easeTime ease-in-out;
}

#header {
    position: absolute;
    height: 80px;
    width: 100%;
    top: 0;

    .navbar {
        margin: 0;
        border: 0;
        border-radius: 0;
        width: 100%;
        z-index: 99;
        padding: 0;
        border: none;

        li {
            a{
                padding: 30px 7px;
                -webkit-transition: padding $easeTime ease-in-out;
                -moz-transition: padding $easeTime ease-in-out;
                -ms-transition: padding $easeTime ease-in-out;
                -o-transition: padding $easeTime ease-in-out;
                transition: padding $easeTime ease-in-out;
            }
        }
        
    }

    .navbar.affix {

        li {
            a{
                padding: 20px 7px;
            }
        }

        #logo img {
            display: inline-block;
            height: 100%;
        }
    }

    #logo {
        padding: 0;
    }
    
    #logo img {
        -webkit-transition: all $easeTime ease-in-out;
        -moz-transition: all $easeTime ease-in-out;
        -ms-transition: all $easeTime ease-in-out;
        -o-transition: all $easeTime ease-in-out;
        transition: all $easeTime ease-in-out;

    }

}

.vertical-center-parent {
    position: relative;
}

.vertical-center-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

.main-search {
    width: 80%;
    text-align: center;
    font-size: 0;
    margin: 50px auto 0 auto;

    input {
        font-size: 16px;
        padding: 18px;
        width: 40%;
        border: 0;
        border-radius: 0;
    }

    input:first-child {
        margin-right: 1px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .search-submit {
        width: 19%;
        font-size: 16px;
        border: 0;
        padding: 18px 0;
        border-radius: 3px;
        vertical-align: top;
    }
}

ul.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    text-align: center;

    li{
        
        display: inline-block;

        a {
            padding: 13px 20px;
            color: #868686;
            text-decoration: none;

            i {
                color: #734865;
                display: inline-block;
                width: 100%;
                margin: 10px 0;
            }
        }

        a:hover {
            background: rgba(222, 222, 222, 0.64);
            color: #291b1b;
        }

        a:before {
            background: rgba(172, 22, 122, 0.8);
            border-bottom: 3px solid #ac167a;
        }
    }
}

.sidebar {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #e5e5e5;

    p {
        font-size: 14px;
        line-height: 120%;
        text-align: left;
        margin: 10px 0;
    }
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #fff;
    background-color: #ac167a;
    border-color: #ac167a;
}

.pagination>li>a, .pagination>li>span {
    color: #560e3e;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #ac167a;
    border-color: #ac167a;
}

.rateit.rateit-font .rateit-reset span {
    height: calc(60% - 0.045em);
}
.rateit .rateit-selected {
    color: #e2d036;
}